{
 :lang :berber-ghadames
 :subfamily "Eastern Berber"
 :sgpref "bgh"
 :datasource "Kossmann2012 Kossmann2013" 
 :geodemoURL "URL"
 :geodemoTXT "Ghadames is an Eatern Berber language spoken in the oasis of Ghadamès, located in western Libya on the Libyan-Algerian border (30 deg 08' N, 9 deg 30'  E."
 :schemata {:stem [:Base ],
            :gender [:Common :Fem :Masc],
            :number [:Plural :Singular],
            :person [:Person1 :Person1ex :Person1in :Person2 :Person3 :Not_in_datastore],
            :polarity [:Affirmative :Negative],
            :pos [:Pronoun :Verb],
            :proClass [:To_be_added],
            :rootClass [:CCC :VCC],
            :status [:NA],
            :tam [:Active :Aorist :Future :Imperative :Imperfective :Perfective :Stative]
            :pdgmType [:Affix_SubjMark :Finite :PRO]}
 :pclass {:pngClass [:person :number :gender],
          :synsemClass [:pos :proClass],
          :inflClass [:status],
          :otherClass []}
 :morphemes{:TOBEADDED {:gloss "[x]", :lemma "[y]"}
            :PRODEPENDENT {:gloss "[x]", :lemma "[y]"},
            :PROIND {:gloss "[x]", :lemma "[y]"},
            :PROSUFF {:gloss "[x]", :lemma "[y]"}}
 :lexemes{ :vtf {:rootClass :VCC, :lemma "atǝf", :gloss "enter"}
          :lmd {:rootClass :CCC, :lemma "ălmǝd", :gloss "learn"}
          :mtt {:rootClass :CCC, :lemma "măttit", :gloss "be small"}
          }

 :lxterms [
           {:label "ghadames-V-Aff-VCC-imprtv-vTF"
            :pdgmType :Finite
            :common {:lexeme :vtf
                     :polarity :Affirmative,
                     :person :Person2
                     :pos :Verb,
                     :rootClass :VCC,
                     :stem :Base
                     :tam :Imperative}
            :terms [[:number :gender :token],
                    [:Singular :Common "atǝf"],
                    [:Plural :Masc "atǝf-ăt"],
                    [:Plural :Fem "atǝf-măt"]]
            }
           {:label "ghadames-V-Aff-VCC-imprtv-LMD"
            :pdgmType :Finite
            :common {:lexeme :lmd
                     :polarity :Affirmative,
                     :person :Person2
                     :pos :Verb,
                     :rootClass :CCC,
                     :stem :Base
                     :tam :Imperative}
            :terms [[:number :gender :token],
                    [:Singular :Common "almǝd"],
                    [:Plural :Masc "almǝd-ăt"],
                    [:Plural :Fem "almǝd-măt"]]
            }
           {:label "ghadames-V-Aff-VCC-perf-vTF"
            :pdgmType :Finite
            :common {:lexeme :vtf
                     :polarity :Affirmative,
                     :pos :Verb,
                     :rootClass :VCC,
                     :stem :Base
                     :tam :Perfective}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "utăf-ăʕ"],
                    [:Singular :Person2 :Common  "t-utăf-ǝt"],
                    [:Singular :Person3 :Masc  "y-utăf"],
                    [:Singular :Person3 :Fem  "t-utăf"],
                    [:Plural :Person1 :Common  "n-utăf"],
                    [:Plural :Person2 :Masc  "t-utăf-ăm"],
                    [:Plural :Person2 :Fem  "t-utăf-măt"],
                    [:Plural :Person3 :Masc  "utăf-ăn"],
                    [:Plural :Person3 :Fem  "utăf-năt"]]
            }
           {:label "ghadames-V-Aff-CCC-stat-MTT"
            :pdgmType :Finite
            :common {:lexeme :mtt
                     :polarity :Affirmative,
                     :pos :Verb,
                     :rootClass :CCC,
                     :stem :Base
                     :tam :Stative}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "măttit-ăʕ"],
                    [:Singular :Person2 :Common  "măttit-ǝt"],
                    [:Singular :Person3 :Masc  "măttit"],
                    [:Singular :Person3 :Fem  "măttit-ăt"],
                    [:Plural :Person1 :Common  "măttit-it"],
                    [:Plural :Person2 :Masc  "măttit-it"],
                    [:Plural :Person2 :Fem  "măttit-it"],
                    [:Plural :Person3 :Masc  "măttit-it"],
                    [:Plural :Person3 :Fem  "măttit-it"]]
            }
           {:label "ghadames-V-Aff-VCC-fut-vTF"
            :pdgmType :Finite
            :common {:lexeme :vtf
                     :polarity :Affirmative,
                     :pos :Verb,
                     :rootClass :VCC,
                     :stem :Base
                     :tam :Future}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "utăf"],
                    [:Singular :Person2 :Common  "t-utăf"],
                    [:Singular :Person3 :Masc  "y-utăf"],
                    [:Singular :Person3 :Fem  "t-utăf"],
                    [:Plural :Person1 :Common  "n-utăf"],
                    [:Plural :Person2 :Masc  "t-utăf-ăm"],
                    [:Plural :Person2 :Fem  "t-utăf -măt"],
                    [:Plural :Person3 :Masc  "utăf-ăn"],
                    [:Plural :Person3 :Fem  "utăf-năt"]]
            }
           {:label "ghadames-V-Aff-VCC-aorist-vTF"
            :pdgmType :Finite
            :common {:lexeme :vtf
                     :polarity :Affirmative,
                     :pos :Verb,
                     :rootClass :VCC,
                     :stem :Base
                     :tam :Aorist}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "atǝf-ăʕ "],
                    [:Singular :Person2 :Common  "t-atǝf-ǝt"],
                    [:Singular :Person3 :Masc  "y-atǝf"],
                    [:Singular :Person3 :Fem  "t-atǝf"],
                    [:Plural :Person1 :Common  "n-atǝf"],
                    [:Plural :Person2 :Masc  "t-atǝf-ăm"],
                    [:Plural :Person2 :Fem  "t-atǝf-măt"],
                    [:Plural :Person3 :Masc  "atǝf-ăn"],
                    [:Plural :Person3 :Fem  "atǝf-năt"]]

            }
           {:label "ghadames-V-Aff-CCC-aorist-LMD"
            :pdgmType :Finite
            :common {:lexeme :lmd
                     :polarity :Affirmative,
                     :pos :Verb,
                     :rootClass :CCC,
                     :stem :Base
                     :tam :Aorist}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "ălmǝd-ăʕ "],
                    [:Singular :Person2 :Common  "t-ălmǝd-ǝt"],
                    [:Singular :Person3 :Masc  "y-ălmǝd"],
                    [:Singular :Person3 :Fem  "t-ălmǝd"],
                    [:Plural :Person1 :Common  "n-ălmǝd"],
                    [:Plural :Person2 :Masc  "t-ălmǝd-ăm"],
                    [:Plural :Person2 :Fem  "t-ălmǝd-măt"],
                    [:Plural :Person3 :Masc  "ălmǝd-ăn"],
                    [:Plural :Person3 :Fem  "ălmǝd-năt"]]
            }
           {:label "ghadames-V-Aff-VCC-imperf-vTF"
            :pdgmType :Finite
            :common {:lexeme :vtf
                     :polarity :Affirmative,
                     :pos :Verb,
                     :rootClass :VCC,
                     :stem :Base
                     :tam :Imperfective}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "ttafăf-ăʕ "],
                    [:Singular :Person2 :Common  "t-ttafăf-ǝt"],
                    [:Singular :Person3 :Masc  "y-ttafăf"],
                    [:Singular :Person3 :Fem  "t-ttafăf"],
                    [:Plural :Person1 :Common  "n-ttafăf"],
                    [:Plural :Person2 :Masc  "t-ttafăf-ăm"],
                    [:Plural :Person2 :Fem  "t-ttafăf-măt"],
                    [:Plural :Person3 :Masc  "ttafăf-ăn"],
                    [:Plural :Person3 :Fem  "ttafăf-năt"]]
            }
           {:label "ghadames-V-Aff-CCC-imperf-LMD"
            :pdgmType :Finite
            :common {:lexeme :lmd
                     :polarity :Affirmative,
                     :pos :Verb,
                     :rootClass :CCC,
                     :stem :Base
                     :tam :Imperfective}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "lămmăd-ăʕ "],
                    [:Singular :Person2 :Common  "t-lămmăd-ǝt"],
                    [:Singular :Person3 :Masc  "y-lămmăd"],
                    [:Singular :Person3 :Fem  "t-lămmăd"],
                    [:Plural :Person1 :Common  "n-lămmăd"],
                    [:Plural :Person2 :Masc  "t-lămmăd-ăm"],
                    [:Plural :Person2 :Fem  "t-lămmăd-măt"],
                    [:Plural :Person3 :Masc  "lămmăd-ăn"],
                    [:Plural :Person3 :Fem  "lămmăd-năt"]]
            }
           {:label "ghadames-V-Neg-VCC-imperf-vTF"
            :pdgmType :Finite
            :common {:lexeme :vtf
                     :polarity :Negative,
                     :pos :Verb,
                     :rootClass :VCC,
                     :stem :Base
                     :tam :Imperfective}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "ttitǝf-ăʕ "],
                    [:Singular :Person2 :Common  "t-ttitǝf-ǝt"],
                    [:Singular :Person3 :Masc  "y-ttitǝf"],
                    [:Singular :Person3 :Fem  "t-ttitǝf"],
                    [:Plural :Person1 :Common  "n-ttitǝf"],
                    [:Plural :Person2 :Masc  "t-ttitǝf-ăm"],
                    [:Plural :Person2 :Fem  "t-ttitǝf-măt"],
                    [:Plural :Person3 :Masc  "ttitǝf-ăn"],
                    [:Plural :Person3 :Fem  "ttitǝf-năt"]]
            }
           {:label "ghadames-V-Neg-CCC-imperf-LMD"
            :pdgmType :Finite
            :common {:lexeme :lmd
                     :polarity :Negative,
                     :pos :Verb,
                     :rootClass :CCC,
                     :stem :Base
                     :tam :Imperfective}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "lǝmmǝd-ăʕ "],
                    [:Singular :Person2 :Common  "t-lǝmmǝd-ǝt"],
                    [:Singular :Person3 :Masc  "y-lǝmmǝd"],
                    [:Singular :Person3 :Fem  "t-lǝmmǝd"],
                    [:Plural :Person1 :Common  "n-lǝmmǝd"],
                    [:Plural :Person2 :Masc  "t-lǝmmǝd-ăm"],
                    [:Plural :Person2 :Fem  "t-lǝmmǝd-măt"],
                    [:Plural :Person3 :Masc  "lǝmmǝd-ăn"],
                    [:Plural :Person3 :Fem  "lǝmmǝd-năt"]]
            }
           {:label "ghadames-V-Aff-CCC-perf-LMD"
            :pdgmType :Finite
            :common {:lexeme :lmd
                     :polarity :Affirmative,
                     :pos :Verb,
                     :rootClass :CCC,
                     :stem :Base
                     :tam :Perfective}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "ǝlmăd-ăʕ "],
                    [:Singular :Person2 :Common  "t-ǝlmăd-ǝt"],
                    [:Singular :Person3 :Masc  "y-ǝlmăd"],
                    [:Singular :Person3 :Fem  "t-ǝlmăd"],
                    [:Plural :Person1 :Common  "n-ǝlmăd"],
                    [:Plural :Person2 :Masc  "t-ǝlmăd-ăm"],
                    [:Plural :Person2 :Fem  "t-ǝlmăd-măt"],
                    [:Plural :Person3 :Masc  "ǝlmăd-ăn"],
                    [:Plural :Person3 :Fem  "ǝlmăd-năt"]]
            }
           {:label "ghadames-V-Neg-VCC-perf-vTF"
            :pdgmType :Finite
            :common {:lexeme :vtf
                     :polarity :Negative,
                     :pos :Verb,
                     :rootClass :VCC,
                     :stem :Base
                     :tam :Perfective}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "utef-ăʕ "],
                    [:Singular :Person2 :Common  "t-utef-ǝt"],
                    [:Singular :Person3 :Masc  "y-utef"],
                    [:Singular :Person3 :Fem  "t-utef"],
                    [:Plural :Person1 :Common  "n-utef"],
                    [:Plural :Person2 :Masc  "t-utef-ăm"],
                    [:Plural :Person2 :Fem  "t-utef-măt"],
                    [:Plural :Person3 :Masc  "utef-ăn"],
                    [:Plural :Person3 :Fem  "utef-năt"]]
            }
           {:label "ghadames-V-Neg-CCC-perf-LMD"
            :pdgmType :Finite
            :common {:lexeme :lmd
                     :polarity :Negative,
                     :pos :Verb,
                     :rootClass :CCC,
                     :stem :Base
                     :tam :Perfective}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "ǝlmed-ăʕ"],
                    [:Singular :Person2 :Common  "t-ǝlmed-ǝt"],
                    [:Singular :Person3 :Masc  "y-ǝlmed"],
                    [:Singular :Person3 :Fem  "t-ǝlmed"],
                    [:Plural :Person1 :Common  "n-ǝlmed"],
                    [:Plural :Person2 :Masc  "t-ǝlmed-ăm"],
                    [:Plural :Person2 :Fem  "t-ǝlmed-măt"],
                    [:Plural :Person3 :Masc  "ǝlmed-ăn"],
                    [:Plural :Person3 :Fem  "ǝlmed-năt"]]
            }
           {:label "ghadames-V-Aff-CCC-fut-LMD"
            :pdgmType :Finite
            :common {:lexeme :lmd
                     :polarity :Affirmative,
                     :pos :Verb,
                     :rootClass :CCC,
                     :stem :Base
                     :tam :Future}
            :terms [[:number :person :gender :token],
                    [:Singular :Person1 :Common   "ǝlmăd"],
                    [:Singular :Person2 :Common  "t-ǝlmăd"],
                    [:Singular :Person3 :Masc  "y-ǝlmăd"],
                    [:Singular :Person3 :Fem  "t-ǝlmăd"],
                    [:Plural :Person1 :Common  "n-ǝlmăd"],
                    [:Plural :Person2 :Masc  "t-ǝlmăd-ăm"],
                    [:Plural :Person2 :Fem  "t-ǝlmăd -măt"],
                    [:Plural :Person3 :Masc  "ǝlmăd-ăn"],
                    [:Plural :Person3 :Fem  "ǝlmăd-năt"]]
            }
           ]
 :muterms [
           {:label "ghadames-VSubjMarkers"
            :note "'active' inclusive/exclusive distinction reported by Lanfry1968; to be inserted in verb pdgms if verified"
            :pdgmType :Affix_SubjMark
            :common {:pos :Verb}
            :terms [[:tam :number :person :gender :token],
                    [:Imperative :Singular :Person1 :Common  "..."],
                    [:Imperative :Plural :Person2 :Masc "...-ăt"],
                    [:Imperative :Plural :Person2 :Fem "...-măt"],
                    [:Active :Singular :Person1 :Common  "...-ăʕ "],
                    [:Active :Singular :Person2 :Common "t-...-ǝt"],
                    [:Active :Singular :Person3 :Masc "y-..."],
                    [:Active :Singular :Person3 :Fem "t-..."],
                    [:Active :Plural :Person1ex :Common "n-..."],
                    [:Active :Plural :Person1in :Masc "n-...-ăt"],
                    [:Active :Plural :Person1in :Fem "n-...-măt"],
                    [:Active :Plural :Person2 :Masc "t-...-ăm"],
                    [:Active :Plural :Person2 :Fem "t-...-măt"],
                    [:Active :Plural :Person3 :Masc "...-ăn"],
                    [:Active :Plural :Person3 :Fem "...-năt"]
                    [:Stative :Singular :Person1 :Common  "...-ăʕ"],
                    [:Stative :Singular :Person2 :Common "...-ǝt"],
                    [:Stative :Singular :Person3 :Masc "..."],
                    [:Stative :Singular :Person3 :Fem "...-ăt"],
                    [:Stative :Plural :Person1 :Common "...-it"],
                    [:Stative :Plural :Person2 :Masc "...-it"],
                    [:Stative :Plural :Person2 :Fem "...-it"],
                    [:Stative :Plural :Person3 :Masc "...-it"],
                    [:Stative :Plural :Person3 :Fem "...-it"]
                    [:Future :Singular :Person1 :Common  "..."],
                    [:Future :Singular :Person2 :Common "t-..."],
                    [:Future :Singular :Person3 :Masc "y-..."],
                    [:Future :Singular :Person3 :Fem "t-..."],
                    [:Future :Plural :Person1 :Common "n-..."],
                    [:Future :Plural :Person2 :Masc "t-...-ăm"],
                    [:Future :Plural :Person2 :Fem "t-... -măt"],
                    [:Future :Plural :Person3 :Masc "...-ăn"],
                    [:Future :Plural :Person3 :Fem "...-năt"]]
            }
           {:label "Pronominal_Paradigms_to_be_added"
            :pdgmType :PRO
            :common {:pos :Pronoun,
                     :proClass :To_be_added}
            :terms [[:status :person :token],
                    [:NA :Not_in_datastore "not attested"]]
            }
           ]
 }


